.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #cfd8dc;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.fade {
    background-color: white;
    filter: alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity: 0.50; /* FireFox */
    z-index: 20;
    background-repeat: no-repeat;
}

#sticky {
	background-color: #eceff1;
	color: #fff;
}

#sticky.stick {
	position: fixed;
	z-index: 1000;
	width: 100%;
}

.circle:hover {
   cursor:pointer;
   
}

.circle:active {
   cursor:move;
}

.circleLegend {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

td {
cursor: pointer;
}	

/*stroke only exists for svg elements*/
.links line {
	-webkit-text-stroke: 2 #999;
	stroke: #999;
	stroke-opacity: 0.6;
}